<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94ABE79D1D8BD0AE00DC53E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ABE7B41D8BD0AF00DC53E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ABE7BF1D8BD0AF00DC53E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
